DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=user
DB_PASSWORD=
DB_NAME=test_personal_planner

SALT=$2b$10$U.aSqkmS7Znk329dCwRJle

SECRET_KEY=1234565

PORT=5000

otp_expiration_time=5

admin_mobile=09355839880